/********** DEFAULTS  ************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-family: 'Times New Roman',serif,sans-serif; */
    /* font-family: 'Baloo Bhaina 2', cursive; */
    font-family: 'Comic Neue', cursive;
}

nav, header, footer {
    display: block;
    overflow: hidden;
}

header {
    /*background-image: linear-gradient(white,gray);*/
    color:#fff;
}

.col-1 {width:8.33%;}
.col-3 {width:25%}
.col-6 {width:50%;}
.col-12{width:100%;}

.container {
    width:100%;
    padding:4%;
    margin:auto;
}
.row{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.row::after {
    display:table;
    clear:both;
    content:"";
}
footer {
    width: 100%;
    background-color: #122205de;
    text-align:left;
    padding-left:25%;
    padding-top: 30px;
   
}

/***** NAVIGATION  *******/
nav {
    margin: 0;
    width: 100%;
    background: -webkit-linear-gradient(#b8b894,#fff);
}

.nav-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item {
    list-style: none;
    float: left;
    text-align: center;
}

    .menu-item a:hover {
        font-size: 1rem;
        text-shadow: 0.3px 0.1px;
    }

    .menu-item:nth-child(7) {
        float: right;
    }

    .menu-item:nth-child(6) {
        float: right;
    }

    .menu-item::after {
        display: block;
        clear: both;
        content: "";
    }

    .menu-item a {
        display: block;
        min-height: 1.6rem;
        text-decoration: none;
        text-align: center;
        padding: 15px;
        cursor: pointer;
        text-transform: uppercase;
        color: #333;
        font-weight: 800;
    }

    .menu-item.hamburger {
        display: none;
    }

.logo-title a {
    color: darkred;
    font-size: 1.3rem;
    margin-right: 70px;
    text-transform: none;
}

    .logo-title a:hover {
        font-size:1.3rem;
        cursor: pointer;
    }


/******* ABOUT **********/
.about-section {
    margin-top: 6rem;
    width: 100%;
    height: 30vh;
    font-size: 1rem;
    background-image: -webkit-linear-gradient(#fff, #b8b894, white);
    padding-bottom: 16rem;
}
    .about-section .show {
        display:none;
    }
    .about-section:hover .show {
        display:block;
    }
    .about-section p {
        margin: 20px;
    }

.desc-left {
    background-image: linear-gradient(white,#ccccb3);
    width: 45%;
    height:auto;
    min-height: 220px;
    float: left;
    border: 1px solid gray;
    border-radius: 9%;
    padding: 15px;
    
    box-shadow: 1px 8px 10px #003300, -1px -8px 10px #003300;
}

.desc-right {
    background-image: linear-gradient(white,#ccccb3);
    width: 45%;
    height:auto;
    min-height: 220px;
    float: right;
    border: 1px solid gray;
    border-radius: 9%;
    padding: 15px;
    box-shadow: 1px 8px 10px #003300, -1px -8px 10px #003300;
}

[class*="desc-"]::after {
    display: block;
    clear: both;
    content: "";
}
/* Why Section */
.why-section {
    text-align:center;
    padding:3%;
    line-height:30px;
    font-size:1.2rem;
    font-family: 'Baloo Bhaina 2', cursive;
}
/*.why-section:hover {
    font-size:1.2rem;
    line-height:40px;
}*/
.why-section ul li {
    list-style:none;
    line-height: 2;
    font-weight: 500;
}

/****** CONTACT PAGE *******/
.contact-section {
    
    padding-bottom: 6rem;
    background: linear-gradient(#fff,#b8b894);
}
.contact {
    line-height: 30px;
    font-size:1.3rem;
    text-align:center;
}

.form {
    padding:2%;
    text-align:center;
}
.form .submit-btn {
    padding:0.5rem 2rem;
    font-weight:800;
    text-transform:uppercase;
}
input[type="text"] {
    width:300px;
    min-width:100px;
    margin-left: 22px;
   padding:5px;
}
.why-container {
    margin-bottom:0;
    padding-bottom:0;
}

/****** FOOTER *********/
footer ul {
    list-style:none;
    color: rgba(255, 255, 255, 0.616);
    line-height:1.5;
    font-size:18px;
    font-weight: 500;
    
}

footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.616);
    
}
footer ul li a:hover {
    
    color: #fff;
    font-weight: 600;
    
}
    footer .row .col-12 p {
        color: rgba(255, 255, 255, 0.616);
        text-align:center;
        padding-right:40%;

    }

/*** BOX ***/
div.container-1 {
    display: block;
    /* justify-content: space-around; */
    padding: 1rem;
}


div.box {
    border: 1px solid black;
    padding: 20px;
    margin: 1rem;
    flex-basis: 30%;
    background-color: #b8b894;
    box-shadow: 0 0 10px 1px #172b08;
    max-height:15rem;
}
/* div.box:nth-child(2) {
    padding:0;
} */
div.img img {
    height: 15rem;
    min-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    div.box h4 {
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }


/**********About PAGE***********/
section.about-page {
    box-sizing:border-box;
    margin:0;
    padding:0;
    padding-bottom: 2rem;
}
div.grid-container {
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #d8d8b8;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1rem;
}
h3.header-grid {
    grid-column: 1/4;
    justify-self: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #584f4f;
}

img.img-grid {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400px;
    height: 300px;
    padding: 0 0.5rem 1rem 0;
    border-radius: 20%;
}
p.about-grid-1 {
    grid-column:2/4;
    grid-row:2/3;
}
p.about-grid-2 {
    grid-column:1/4;
    grid-row:3/4;
}
header.about-header {
    margin:2rem 1rem;
    overflow:inherit;
}
a.back-btn {
    text-decoration: none;
    font-size: 1.2rem;
    background: #d8d8b8;
    color: #333;
    font-weight: 700;
    padding: .4rem 2.3rem;
    border: 0.5px solid #b4b4a3;
    border-radius: 10%;
}
a.back-btn:hover {
    color:black;
}
/* 
 @media(max-width:600px) {
    header.about-header {
        margin: 2rem .7rem;
        overflow: hidden;
    }

    a.back-btn {
        font-size: 1rem;
        border: 0.5px solid #d8d8b8;
    }

    div.grid-container {
        display: block;
    }

    h3.header-grid {
        font-size: 1.7rem;
        text-align: center;
    }

    img.img-grid {
        width: 500px;
        height: 300px;
    }

} */


/* ********** SLIDER ************ */

section.carousel {
    position: relative;
    width: 84%;
    height: 58vh;
    margin: 0 auto;
}
div.carousel-container {
   background-color: #333;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-top: 2rem;
}
.carousel-elements {
    text-decoration: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in-out;
}
.carousel-items{
    list-style: none;
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
}
.carousel-img {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.carousel-btn {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.carousel-btn img {
    width:30px;
}
.carousel-btn.btn-left {
    left: -37px;
}
.carousel-btn.btn-right {
    right: -37px;
}
.carousel-nav{
 
   display:flex;
   justify-content: center;
   padding: 1rem;
}
.carousel-nav-item {
    width:12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin: 0 0.8rem;
    background: rgba(0,0,0,.3);
    cursor: pointer;
}
.carousel-nav-item.current {
    background: rgba(0,0,0,.8);
}
.ishidden {
    display: none;
}

/* VIDEO */
.container-video {
    /* border: .5px solid black; */
    /* box-shadow: .6px 1px 1px 2px; */
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 1rem;
    padding: 2rem;

}

/* .container-video .video-p{
line-height: 1.5;
} */
/* MAP */
.mapouter{
    position:relative;
    text-align:right;
    height:auto;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:auto;
    width:100%;
}

.gmap_canvas iframe {
    width:100%;

}
/* POP UP */
.popup {
    background-image: url(img/popup-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden ;
    width: 100%;
    height: 50vh;
    color:white;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    
}
.popup h3 {
    background-color: #0a1f0aab;
    justify-self: center;
    align-self: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 59%;
    font-size:1.5rem;
    /* text-transform: uppercase; */
}
.pop-btn {
    display: block;
    justify-self: center;
    align-self: center;
    padding: 8px 38px;
    font-family: 'Comic Neue', cursive;
    word-spacing: 10;
    background-image: linear-gradient(white,#0a1f0aab);
    font-weight: 800;
    color: #021902;
    border: none;
    border-radius: 11px;
    font-size: 1rem;
     text-transform:uppercase ;
     border: .4px solid #fff;
     cursor:pointer;
     transition: all .3s ease-in-out;
  
}
.pop-btn:hover{
    background-color: #0a1f0aab;
    color:#111;
    border: 1px solid #111;
       
}
.modal-popup {
        
    background-color:rgba(0,0,0,.8);
    position: fixed; 
    top:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.modal {
    background:#fff;
    color:#111;
    padding:2rem 4rem;
    width:84%;
}
.is-hidden {
    display:none;
}
.close-btn {
    display:flex;
    justify-content:flex-end;
    font-size:1.3rem;
    padding:5px;
    cursor: pointer;
}
.close-btn:hover{
    font-weight: 900;
    font-size:1.4rem;

}
/* ********* GALERY ************** */
.galery {
    width: 100%;
    height: auto;
    overflow: hidden;
   
}
.galery-header h3{
   
    padding: 1rem;
    margin:  auto;
    text-align: center;
    text-transform: uppercase;
   
    
}
.galery-header h3::after{
    content: "";
    width: 15%;
    display: block;
    height: auto;
    border-bottom: 2px solid black;
    margin: 16px auto;

}
.galery-img {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   padding:0  0 2rem 0;
   
}

.galery-img img {
    /* width:100%; */
    max-width:400px;
    height:auto;
    max-height: 600px;
    flex:25%;
    padding:1rem;
    transition: all .4s ease-in-out;
    
   
}
.galery-img img:hover {
    transform: translateY(20px);
    overflow-y: hidden;
}

/****** MEDIA-MOBILE ********/

@media(max-width:1000px) {
    /* .nav-menu{
        width:55%;
    } */
    .menu-item:nth-child(7) {
      float: left;
  }
  
  .menu-item:nth-child(6) {
      float: left;
  }
  .menu-item a {
     
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
      color: #333;
     
      font-weight: 600;
  }
  .logo-title a {
    
      font-size: 1.2rem;
      color: darkred;
  }
  .logo-title a {
      font-size: 1.2rem;
  }
  /* Galery */
  .galery-img img {
    
    flex:100%;
    
}
}
@media(max-width:950px) {
    
  .menu-item:nth-child(7) {
    float: left;
}

.menu-item:nth-child(6) {
    float: left;
}
.menu-item a {
   
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.logo-title a {
    font-size: 1.2rem;
    color:darkred;
}
.logo-title a {
    font-size: 1.2rem;
}
    .about-section {
        margin-top: 1rem;
        padding-bottom: 1rem;}
   .why-section {
       padding:1rem;
   }
   .desc-left , .desc-right{
       width:40%;
   }
/* ABOU PAGE */
    header.about-header {
        margin: 2rem 1rem;
        overflow: inherit;
    }
    img.img-grid {
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        justify-self:center;
        
    }
    p.about-grid-1 {
        grid-column:1/4;
        grid-row:3;
    }
    p.about-grid-2 {
        grid-column:1/4;
        grid-row:3/4;
    }
      /* VIDEO */
      .container-video {
      
        display:flex;
        flex-direction: column;
        overflow: hidden;
        /* align-items: center; */
        justify-items: center;
        margin:auto;
      }
      .container-video .video iframe{
          
          width: 80vw;
          padding-bottom: 1rem;
      }
      /* FOOTER */
      footer {
      
        text-align:center;
        padding-left:0;
        padding-top: 30px;
    }
    footer .row .col-12 p{
        padding-right: 0;
        font-size: .9rem;
    }
    /* SLIDER */
    section.carousel {
        padding-bottom: 2rem;
        height: 55vh;
    }
}
@media (max-width: 759px){
.nav-menu {
    width: 72%;
}
.logo-title a {
               
    color: darkred;
}
/* Galery */
.galery-img img {
    
    flex:100%;
    
}
.galery-img img:hover {
    transform: translateY(-5px);
   
}
}
@media (max-width: 660px){
    .nav-menu {
        width: 82%;
    }}
@media screen and (max-width:600px) {
    * {
        overflow-x: hidden;
    }
    nav{
        width: 100%;
    }
    .nav-menu .menu-item {
        display: none;
    }

    .menu-item.hamburger {
        display: block;
        float: right;
    }

    .nav-menu.resposive-menu {
        position: relative;
        height: 30vh;
     
    }

        .nav-menu.resposive-menu li:last-child {
            position: absolute;
            top: 0;
            right: 0;
        }

        .nav-menu.resposive-menu li:not(:nth-child(1)) {
            display: inline;
            float: none;
            text-align: center;
            font-size: .9rem;
        }
        .nav-menu.resposive-menu li:nth-child(2){
            display: none;
        }
       

            .nav-menu.resposive-menu li a {
                display: block;
                text-align: center;
            }
         
        /**ABOUT***/
        .about-section {
            width:100%;
            height:auto;
            overflow:hidden;
            margin:auto;
            font-size:1rem;
        }
            .about-section p {
               margin-left:30px;
               margin-bottom:40px;
               text-align:center;
                width:90%;
                height:auto;
            }
    /*.why-section:hover {
        font-size: inherit;
        line-height:30px;
        
    }*/
    .why-section h2 {
        margin-bottom:20px;
        overflow:hidden;
    }
    .why-section ul li {
        font-size:18px;
    }

            /***CONTACT**/
             .col-mobile {
               width: 100%;
                 }
    .form {
        border: 1px solid #003300;
        box-shadow: 1px 2px 10px #003300;
        margin-bottom:30px;
        margin-top:20px;
        font-size:18px;
    }
    input[type="text"] {
        width:250px;
        padding:2px;
        margin:0;
    }
    footer {
        text-align:center;
        padding:0;
        padding-top:20px;
        margin:0;
        font-size:1.1rem;
        line-height:1;
       
    }
    footer .row .col-12 p {
        padding: 0;
        text-align: center;
        font-size:0.7rem;
    }
    /***BOX***/
    div.container-1 {
        flex-wrap:wrap;
       
    }
    div.box {
        flex-basis:100%;
       margin:2%;
       overflow: hidden;
    }
   div.img img {
       height:10rem;
    }
    /* Slider */
    section.carousel {
        display: none;
    }
    /* About page */
    header.about-header {
        margin: 2rem .7rem;
        overflow: hidden;
    }

    a.back-btn {
        font-size: 1rem;
        border: 0.5px solid #d8d8b8;
       
    }

    div.grid-container {
        display: block;
    }

    h3.header-grid {
        font-size: 1.7rem;
        text-align: center;
    }
    img.img-grid {
        border-radius: 50%;
    }
    /* VIDEO */
    .container-video {
      
      display:flex;
      flex-direction: column;
      align-items: center;
      padding:2rem;
    }
    .container-video .video {
        width: 80vw;
    }
    /* POP UP MODAL*/
    .popup h3 {
        top:40%;
        padding:8px;
      
    }
}
